:root {
  --wrapperBgColor: rgba(255, 255, 255, 0.85);
  --toolbarWidth: 110px;
  --canvasHeight: 600px;

  /* chat room */
  --chatRoomWidth: 510px;
  --chatRoomHeight: 200px;

  /*  room member */
  --roomMemberWidth: 200px;
  --roomMemberHeight: var(--chatRoomHeight);

  --messagesWidth: var(--chatRoomWidth);
  --messagesHeight: 160px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url("backgound.jpg");
  background-position: center;
  background-repeat: no-repeat; */
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
