:root {
  --wrapperBgColor: rgba(255, 255, 255, 0.85);
  --toolbarWidth: 110px;
  --canvasHeight: 600px;

  --chatRoomWidth: 400px;
  /*  room member */
  --roomMemberWidth: var(--chatRoomWidth);
  --roomMemberHeight: 370px;

  /* messages */
  --messagesMargin: 15px 0px;
  --messagesWidth: var(--chatRoomWidth);
  --messagesHeight: 200px;

  /* form */
  --formWidth: var(--chatRoomWidth);
  --formHeight: 50px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
