#wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--formWidth);
  height: var(--formHeight);
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#messageInput {
  flex-grow: 1;
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0 15px;
  outline: none;
}

.button {
  height: 40px;
  min-width: 100px;
  background-color: #2196f3;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.button:hover {
  background-color: #1976d2; /* Darker blue on hover */
}
